@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
*
{
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    margin: 0%;
    padding: 0%;
}
.navbar
{
    background-color: #304269;
    height: 60px;
    width: 100%;
    margin: 0px 0px 0px 0px;
}

.navbar .L
{
    float: left;
    color: #D9E8F5;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 10px;
}

.banner
{
    height: 40vh;
    width: 100%;
    overflow: hidden;
    background-color: #D9E8F5;
    padding-bottom: 0%;
 
}
.banner img
{
    top: 960px;
    margin-top: -480px;
    min-width: 100%;
}

.about
{
    
    padding-top: 0%;
    background-color: #D9E8F5;
    color: #304269;
    text-align: center;

}
.about .title
{
    background-color: #91BED4;
}
.about h1
{
    padding: 30pt 0pt 15pt 0pt;
}

.about p
{
    font-size: 20px;
    padding: 5pt 0pt 15pt 0pt;
}

.about .bar
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    background-color: #91BED4;
    padding: 10px 0px 10px 0px;
}

.about .bar .contact
{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0px 10px 0px 10px;

}
.about .bar .contact img
{
    width: 30px;
    height: 30px;
    padding:  0px 0px 0px 0px;
}
.about .bar .contact h3
{
    flex: content;
    padding: 8px 0px 10px 0px;
}

.skills
{
    background-color: #304269;
    text-align: center;
    color: #D9E8F5;

}
.skills h1
{
    padding: 30pt 0pt 15pt 0pt;
    
}

.skills .bar
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    padding: 10px 0px 10px 0px;
    margin: 0px 10vw 0px 10vw;

}

.skills .bar .contact
{
    justify-content: center; 
    align-items: center; 
    margin: 0px 10px 20px 10px;
}

.skills .bar .content img
{
    margin: 0px 2vw 0px 2vw;
    width: 20vw;
    height: 20vw;
    max-width: 150px;
    max-height: 150px;
    padding:  25px 25px 25px 25px;
    clip-path: circle(50%);
    background-color: #91BED4;
}
.skills .bar .content h2
{
    flex: content;
    padding: 0px 0px 20px 0px;
}

.awards
{
    
    background-color: #D9E8F5;
    color: #304269;
    text-align: center;
    padding: 0px 20px 30px 20px;
    
}

.awards h1
{
    padding: 30pt 0pt 15pt 0pt;

}

.awards .box
{
    margin: 0 auto;
    width: 500px;
}

.awards .box .container
{
    display: flex;
    align-items: center;
    background-color: #D9E8F5;
    margin: 20px 0px 20px 0px;
    
    
}
.awards .box .container .dot
{
    width: 17px;
    height: 15px;
    border-radius: 50%;
    background-color: #91BED4;
    border: 5px solid #F26101;
}
.awards .box .container .content
{
    width: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    background-color: #91BED4;
    border-radius: 1%;
    text-align: left;

    padding: 5px 0px 5px 15px;
}


.licenses
{
    
    background-color: #D9E8F5;
    color: #304269;
    text-align: center;
    padding: 0px 20px 30px 20px;
    
}

.licenses h1
{
    padding: 30pt 0pt 15pt 0pt;

}

.licenses .box
{
    margin: 0 auto;
    width: 500px;
}

.licenses .box .container
{
    display: flex;
    align-items: center;
    background-color: #D9E8F5;
    margin: 20px 0px 20px 0px;
    
    
    
}
.licenses .box .container .dot
{
    width: 17px;
    height: 15px;
    border-radius: 50%;
    background-color: #91BED4;
    border: 5px solid #F26101;
}
.licenses .box .container .content
{
    width: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    background-color: #91BED4;
    border-radius: 1%;
    text-align: left;
    padding: 5px 0px 5px 15px;
}

.padding
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    /* align-items: center;  */
    background-color: #D9E8F5;
    padding: 10px 10vw 40px 10vw;
}

.education
{
    
    background-color: #D9E8F5;
    color: #304269;
    text-align: center;
    padding: 0px 20px 30px 20px;
    
}

.education h1
{
    padding: 30pt 0pt 15pt 0pt;

}

.education .box
{
    margin: 0 auto;
    width: 500px;
}

.education .box .container
{
    display: flex;
    align-items: center;
    background-color: #D9E8F5;
    margin: 20px 0px 20px 0px;
    
    
}
.education .box .container .dot
{
    width: 17px;
    height: 15px;
    border-radius: 50%;
    background-color: #91BED4;
    border: 5px solid #F26101;
}
.education .box .container .content
{
    width: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    background-color: #91BED4;
    border-radius: 1%;
    text-align: left;

    padding: 5px 0px 5px 15px;
}

.work
{
    
    background-color: #D9E8F5;
    color: #304269;
    text-align: center;
    padding: 0px 20px 30px 20px;
    
}

.work h1
{
    padding: 30pt 0pt 15pt 0pt;

}

.work .box
{
    margin: 0 auto;
    width: 500px;
}

.work .box .container
{
    display: flex;
    align-items: center;
    background-color: #D9E8F5;
    margin: 20px 0px 20px 0px;
    
    
}
.work .box .container .dot
{
    width: 17px;
    height: 15px;
    border-radius: 50%;
    background-color: #91BED4;
    border: 5px solid #F26101;
}
.work .box .container .content
{
    width: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    background-color: #91BED4;
    border-radius: 1%;
    text-align: left;

    padding: 5px 0px 5px 15px;
}
.foot
{
    height: 50pt;
    background-color: #304269;
    color: #294168;
    text-align: center;
}
.foot p
{
    padding-top: 10pt;
}


/* Color Theme Swatches in Hex */
.Corporate-Orange--Blue-1-hex { color: #304269; }
.Corporate-Orange--Blue-2-hex { color: #91BED4; }
.Corporate-Orange--Blue-3-hex { color: #D9E8F5; }
.Corporate-Orange--Blue-4-hex { color: #FFFFFF; }
.Corporate-Orange--Blue-5-hex { color: #F26101; }
